<div class="row">
  <div class="col s10 offset-s1">
    <h5>
      Change Your Password
    </h5>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="input-field">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="input-field">
    <%= f.submit "Change my password" , :class=>"btn btn-success waves-effect"%>
  </div>
<% end %>


<%=
  render "devise/shared/links"
%>
  </div>
</div>